<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    ¿QUÉ ES LO QUE HACE UN ESTILISTA? ¿QUÉ DIFERENCIA HAY ENTRE UN PELUQUERO Y UN ESTILISTA?

El estilista es un profesional de la imagen, que estudia los rasgos faciales de la persona, su personalidad, y el estilo a la hora de vestir con el fin de poder adaptar su imagen a las tendencias del momento. 
<br>
En resumen se encarga de llevar a cabo una asesoría completa.
<br>
Un estilista busca un peinado, un maquillaje, unos accesorios, todo un conjunto de características que sabe que le van a ir bien a sus clientes para poder sacarles el mayor partido. 
<br>
Se suele basar en las últimas tendencias en moda, incluso en el estilo de vida que lleva su cliente y observa con detenimiento el mundo de las pasarelas para sacar lo mejor de cada firma. 
<br>
Observa y en función de eso, ofrece una serie de recomendaciones a sus clientes.
<br>
El peluquero es el profesional que se encarga de tratar el cabello y el cuero cabelludo. 
<br>
Este profesional de la peluquería se encarga de todo lo relacionado con el cabello y lo que derive de él. 
<br>
Es el profesional al que recurrirá un estilista para que te realice el corte o el tinte que él cree que son adecuados para ti. 
<br>
Un peluquero también puede aconsejarte qué peinado te puede llegar a quedar mejor, pero sólo se basará en la forma de tu rostro y tus rasgos faciales.

    
</body>
</html>