{% extends 'AppCoder/padre.html' %}

{% block contenidoQueCambia %}
    <h3> ¡Gracias por enviar tu consulta sobre nuestro staff!
        <br>
        Otras consultas realizadas: 
        <br>
    </h3>

    {% for profesionales in profesionales %} 
        {{ profesionales }}
        <a href="{% url 'profesionales_delete' profesionales.id %}">Borrar</a>
        <a href="{% url 'profesionales_update' profesionales.id %}">Editar</a>
        <br>
        
    {% endfor %} 

         <a class="btn -primary" href="{% url 'profesionales_formulario' %}">Agregar<a/>
        
{% endblock %}


{% block titulo %}
    Profesionales
{% endblock %}