{% extends 'AppCoder/padre.html' %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profesional</title>
</head>
<body style="background-color: plum;">
  profesionales  
</body>
</html> {% endcomment %}






{% block contenidoQueCambia %}
    <h3> ¡Gracias por enviar tu consulta sobre nuestro staff!
        <br>
        Otras consultas realizadas: 
        <br>
    </h3>

    {% for profesional in object_list %} 
        {{profesional}}
        
        <br>
    {% endfor %} 

        <a class="btn -primary" href="{% url 'profesionales_formulario'%}">Agregar<a/>
{% endblock %}


{% block titulo %}
    Profesionales
{% endblock %}