{% extends 'AppCoder/padre.html' %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>servicio</title>
</head>
<body style="background-color: plum;">
    servicios
</body>
</html> {% endcomment %}






{% block contenidoQueCambia %}
    <h3> ¡Gracias por enviar tu consulta sobre nuestros servicios!
        <br>
        Otras consultas realizadas: 
        <br>
    </h3>

    {% for servicio in servicio %} 
        {{servicio}}
        
        <br>
    {% endfor %} 


        <a class="btn -primary" href="{% url 'servicios_formulario'%}">Agregar<a/>
{% endblock %}


{% block titulo %}
    Servicios
{% endblock %}